* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

html {
    font-size: 16;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,ol {
    list-style: none;
}

:root {
    --main-color: #3a6cf4;
}

/* land-page */
.land-page {
    background-image: url(images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
/* land-page */