* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,ol {
    list-style: none;
}

:root {
    --main-color: #3a6cf4;
}

/*start land-page */
.land-page {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/background.jpeg);  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12.5rem;
}

header {
    width: 100%;
    background-color: #f0f0f0;
    padding: 0.625rem 12.5rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

nav, 
ul {
    display: flex;
    flex-direction: row;
}

ul {
    gap: 30px;
}

header .logo {
    font-size: 1.8em;
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
}

ul li a {
    font-size: 1.1em;
    font-weight: 500;
    color: var(--main-color);
}

ul li a:hover {
    color: #601cfc;
}

.land-page h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.land-page span {
    color: #4e9eff;
    font-size: 3.8em;
    font-weight: 600;
    text-transform:capitalize;
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
}

.land-page p {
    color: #fff;
    text-transform: capitalize;
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: bold;
}

.land-page button {
    color: #fff;
    background-color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin: bottom 40px;
    display: inline-block;
    transition: 0.7s ease;
    cursor: pointer;
    margin-bottom: 30px;
}

.land-page button:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.icon-holder {
    display: flex;
    gap: 25px;
}

.land-page i {
    color: white;
    font-size: 25px;
    cursor: pointer;
}
/*end land-page */

/* start Services */

/* start Services */

/* reoponsive */

/* mobile */
@media (max-width: 768px) {
    header .logo {
        font-size: 1.5em;
    }

    header ul li a {
        font-size: 1em;
    }

    header ul {
        gap: 10px;
    }
}

/* taplat */
@media (max-width: 1024px) {
    header {
        padding: 0.625rem 1rem;
    }

    .land-page{
        padding: 0.625rem 1rem;
    }

    .land-page span {
        font-size: 2.4em;
    }

    .land-page p {
        font-size: 1.3em;
    }
}

/* laptop */
@media (min-width: 1025px) and (max-width: 1440px) {
}

/* desktop */
@media (min-width: 1441px) {
}